

<div class="page-content">


            <div class="page-header">
              <h1>
                Event Category Detail
                <small>
                 
                </small>
              </h1>
            </div><!-- /.page-header -->

            <div class="row">
              <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div class="">
                  <div class="user-profile row" id="user-profile-1">           
                    <div class="col-xs-12 col-sm-9">
                      <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row">
                          <div class="profile-info-name"> Category Name</div>

                          <div class="profile-info-value">
                            <span id="signup" class="editable editable-click"><%= @event_category.event_name %></span>
                          </div>
                        </div>

                        <div class="profile-info-row">
                          <div class="profile-info-name"> Color Code</div>

                          <div class="profile-info-value">
                            <span id="login" class="editable editable-click"><%= @event_category.color_code %></span>
                          </div>
                        </div>
                      </div>
                      <div class="space-20"></div>
                    </div>
                  </div>
                </div>

            
                    </div><!-- /.span -->
                  </div><!-- /.user-profile -->
                </div>

                <!-- PAGE CONTENT ENDS -->
